<aside>
	<div class="categories-bar content-fluid col-md-2  col-sm-12">
		<ul class="nav nav-pills nav-stacked">
			<center><h4 style="color:#F05F40;">Categories</h4></center>
			<li ng-class="{ active:isSet('All') }">
				<a href ng-click="setTab('All')" ui-sref="home">All</a></li>
			<li ng-class="{ active:isSet('Electronics') }">
				<a href  ng-click="setTab('Electronics')">Electronics</a></li>
			<li ng-class="{ active:isSet('Mobiles') }">
					<a href  ng-click="setTab('Mobiles')">Mobiles And Accesories</a></li>
			<li ng-class="{ active:isSet('Fashion') }">
					<a href  ng-click="setTab('Fashion')">Fashion</a></li>
							<li ng-class="{ active:isSet('Laptops') }">
								<a href ng-click="setTab('Laptops')">Laptops</a></li>
								<li ng-class="{ active:isSet('Books') }">
									<a href ng-click="setTab('Books')" >Books</a></li> 
									<li ng-class="{ active:isSet('Sports') }">
										<a href ng-click="setTab('Sports')" >Sports</a></li>
									</ul>
								</div>
							</aside>