<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <title>Witty</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">

  
  <link rel="stylesheet" type="text/css" href="styles/bootstrap.min.css"> 
  <link rel="stylesheet" type="text/css" href="styles/main.css"> 
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
 <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>

 
</head>

<body ng-cloak ng-app="displayApp">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
      <![endif]-->

      

      <header>

        <nav class="navbar navbar-static-top navigation">
          <div class="container-fluid">
            <div class="navbar-header col-md-3 col-sm-12">
              <a class="navbar-brand" href="home.html">Witty</a>
            </div>


            <ul ng-controller="CountCtrl" class="user-tabs nav navbar-nav navbar-right">
              
              
                <li><a ui-sref="cartDetails">
                  <span  class="badge pull-right">{{counts.cartCount}}</span><i class="fa fa-shopping-cart"></i>
                </a></li>               
                  <li><a ui-sref="boxDetails"><span  class="badge pull-right">{{counts.boxCount}}</span><i class="fa fa-shopping-basket"> Bargains</i></a></li>
                  <li><a ui-sref="userDemand">Shout Out</a></li>
                 <li><a uib-tooltip="Sorry To See You Go" tooltip-placement="bottom-right" href="index.html"><i class="fa fa-sign-out"></i>
            Sign Out</a></li>   </ul>              
                  <ul class="user-tabs nav navbar-nav navbar-right">
                    <li><div id="searchbox">
                      <form class="navbar-form" role="search">
                        <div class="input-group">
                        <div class="ddl-select input-group-btn">
                <select ng-model="predicate" class="selectpicker form-control" data-style="btn-primary btn-sm">
                  <option value="" data-hidden="true" class="ddl-title">Sort</option>
                  <option value="name">Name</option>
                  <option value="msp">Price Ascending</option>
                  <option value="-msp">Price Descending</option>
                </select></div>
                          <input type="text" class="form-control" placeholder="Search" name="q" ng-model="searchQuery">
                          <div class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i>
                            </button>
                          </div>
                        </div>
                      </form>
                    </div></li>
                  </ul>

                </div> 
              </nav>
            </header>


              <!-- <div ui-view="carousel"></div> -->

              
              <div class="wrapper">
                <div ui-view="categoriesBar"></div>
                <main>
                  <div class="col-md-10 col-sm-12">
                    <br>

                    <div ui-view="grid" class="product-grid">
                </div>
                  <div class="container">
                  <div ui-view>
                  </div></div></div></div>
              </div>


            </main>
           
  
     <script src="scripts/lib/packages.js"></script>
    <script src="scripts/lib/ui-bootstrap-tpls.min.js"></script>
     <!--<script src="scripts/ngCart.js"></script> --> 
     <script src="scripts/box.js"></script>
     <script src="scripts/cart.js"></script>
     <script src="scripts/app.js"></script>
     <script src="scripts/controllers/main.js"></script>
     <script src="scripts/factories/main.js"></script>
    
   </body>
   </html>
